@model minishop.Controllers.DTOs.ViewModels.ProductViewModel
@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>
<p>Name: @Model.Name</p>
@if (Model.Description is not null)
{
    <p>Description: @Model.Description</p>
}
<p>Price: @Model.Price</p>
<p>Quantity: @Model.Quantity</p>

<a hx-get="/api/ShoppingCartApi/AddToCart?id=@Model.Id" hx-trigger="click" hx-target="#messages"
    hx-on:htmx:after-request='showMessage()' class="btn btn-primary">
    ADD TO CART
</a>
