@model IEnumerable<minishop.Controllers.DTOs.ViewModels.ProductViewModel>;
@{
    ViewData["Title"] = "Home Page";
}
<div class="card-group">
    @foreach (var product in Model)
    {
        <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class='card-link'>
            <div class="card" style="width: 18rem;">
                @* img *@
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <div class="card-text">
                        <div>
                            Price
                            <span>@product.Price</span>
                        </div>
                        <div>
                            Quantity in stock
                            @if (product.Quantity > 0)
                            {
                                <span>@product.Quantity</span>
                            }
                            else
                            {
                                <span class="text-danger">Out of stock</span>
                            }
                        </div>
                        <div>
                            <a hx-get="/api/ShoppingCartApi/AddToCart?id=@product.Id" hx-trigger="click"
                                hx-target="#messages" hx-on:htmx:after-request='showMessage()' class="btn btn-primary">
                                ADD TO CART
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    }
</div>