@{
    ViewData["Title"] = "Index";
}
<div>
    <a asp-controller="Product" asp-action="New" class="btn btn-primary btn-sm">
        Insert new product
    </a>
    <h2>
        <a asp-controller="Product" asp-action="Index">
            Product
        </a>
    </h2>
</div>